<%- model_class = Survey -%>
<div class="page-header">
  <h1><%= @survey.survey_name %></h1>
</div>

<% if !@survey.thankyou_text.blank? %>
  <div>
    <h4>
    <%= @survey.thankyou_text %>
    </h4>
  </div>
<% end %>