/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self

 */

@import "bourbon";
@import "scaffolds";
@import "bootstrap_and_overrides";
@import "questions";
@import "surveys";
@import "question_types";
@import "answer_options";
@import "root_pages";

.hidden {
  display:none;
}

#modal-alert{
  display: none;
}

li.unstyled{
  list-style-type: none;
}

.error{
  color: #CC0000;
  font-weight: bold;
}

input.error, textarea.error{
  border: 1px solid #CC0000;
}

// style.css.scss
.form-horizontal {
  div.checkbox.inline {
    .control-label {
      text-align: left;
    }
  }
}

.survey_form_wrapper .checkbox, .survey_form_wrapper .radio{
  margin-left:10px;
  padding-left: 0px;
}

textarea {
  width: 400px;
}